.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 454px;
  height: 281px;
  grid-template-columns: 183px 271px;
  -webkit-box-shadow: 6px 6px 14px -3px rgba(60, 65, 69, 0.22);
  -moz-box-shadow: 6px 6px 14px -3px rgba(60, 65, 69, 0.22);
  box-shadow: 6px 6px 14px -3px rgba(60, 65, 69, 0.22);
}

@media (max-width: 420px) {
  .card {
    padding: 10px;
    max-width: 388px;
    height: 245px;
  }
}

.card__img {
  width: 183px;
  height: 281px;
  position: absolute;
}

@media (max-width: 420px) {
  .card__img {
    position: static;
    margin-right: 15px;
    width: 60px;
    height: 91px;
  }
}

.card__info {
  display: flex;
  flex-direction: column;
}

@media (max-width: 420px) {
  .card__wrapper {
    display: flex;
  }
}

.card__info-title {
  padding: 15px;
  padding-left: 203px;
}

@media (max-width: 420px) {
  .card__info-title {
    padding: 0px;
  }
}

.card__info-inner {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 30px;
  margin-bottom: 7px;
}

@media (max-width: 420px) {
  .card__info-inner {
    position: static;
  }
}

.card__info-name {
  font-family: 'Inter', 'system-ui', 'sans-serif';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
}

.card__info-rate {
  position: absolute;
  right: 10px;
  width: 30px;
  height: 30px;
  border: 2px solid;
  border-radius: 50%;
  text-align: center;
  padding-top: 5px;

  font-family: 'Inter', 'system-ui', 'sans-serif';
  font-size: 12px;
  font-weight: 500;
}

.bad {
  border-color: #e90000;
}

.normal {
  border-color: #e97e00;
}

.good {
  border-color: #e9d100;
}

.wonderful {
  border-color: #66e900;
}

.card__info-date {
  margin-bottom: 9px;
  font-family: 'Inter', 'system-ui', 'sans-serif';
  font-size: 12px;
  line-height: 22px;
  color: #827e7e;
}

.card__info-genres {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 7px;
}

.card-genre {
  background-color: #fafafa;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  padding: 3px;
  margin-bottom: 5px;
  margin-right: 5px;

  font-family: 'Inter', 'system-ui', 'sans-serif';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.65);
}

.card-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__info-description {
  font-family: 'Inter', 'system-ui', 'sans-serif';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  text-align: left;

  padding-right: 15px;
  padding-left: 203px;
}

@media (max-width: 420px) {
  .card__info-description {
    padding: 0px;
  }
}

.card__info-stars {
  padding-bottom: 15px;
  padding-left: 203px;
}

@media (max-width: 420px) {
  .card__info-stars {
    text-align: end;
    padding: 0px;
  }
}

.ant-rate .ant-rate-star:not(:last-child) {
  margin-inline-end: 5px;
}

.anticon-star svg {
  width: 18px;
  height: 18px;
}
