.spinner {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.spinner-text {
  margin-top: 10px;
  font-family: 'Inter', 'system-ui', 'sans-serif';
  font-size: 18px;
  color: #827e7e;
}
